@import '../../../../../scss/abstracts/variables';

.wrapper {
  width: 45rem;
  margin: 2rem;
}
.title {
  text-align: center;
}

.form {
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 2rem;
}